@use "../../variables";

.--button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: variables.$rounded-md;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  color: variables.$white;
  padding: 8px 24px;
  transition: all 0.2s ease;
}

.--button:hover {
  transform: scale(1.03);
}

.--button:active {
  transform: scale(0.99);
}

.--button-primary {
  background-color: variables.$primary-700;
}

.--button-primary:hover {
  background-color: variables.$primary-800;
}

.--button-primary:active {
  background-color: variables.$primary-900;
}

.--button-secondary {
  background-color: variables.$white;
  color: variables.$primary-700;
  border-color: variables.$primary-700;
  border-style: solid;
  border-width: 2px;
}

.--button-secondary:hover {
  background-color: variables.$primary-700;
  color: variables.$white;
}

.--button-secondary:active {
  background-color: variables.$primary-900;
  color: variables.$white;
  border-color: variables.$primary-900;
}

.--button-secondary {
  background-color: variables.$white;
}

.--button-pill {
  border-radius: 10000px;
}

.--button-ghost {
  background-color: transparent;
  color: variables.$primary-700;
}

.--button-ghost:hover {
  background-color: #d1b6ff55;
  color: variables.$primary-700;
}
