@use "../../variables";

.--button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: variables.$rounded-md;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  color: variables.$white;
  padding: 8px 24px;
  transition: all 0.2s ease;
}

.--button:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
        transform: none;
    }
}

.--button-primary {
    background-color: variables.$primary-700;
}

.--button:hover {
    transform: scale(1.03);
    
    &.--button-primary:enabled {
      background-color: variables.$primary-800;
    }

    &.--button-secondary:enabled {
      background-color: variables.$primary-700;
      color: variables.$white;
    }
}

.--button:active {
    transform: scale(0.99);

    &.--button-primary:enabled {
      background-color: variables.$primary-900;
    }

    &.--button-secondary:enabled {
      background-color: variables.$primary-900;
      color: variables.$white;
      border-color: variables.$primary-900;
    }
}


.--button-secondary {
  background-color: variables.$white;
  color: variables.$primary-700;
  border-color: variables.$primary-700;
  border-style: solid;
  border-width: 2px;
}


.--button-ternary {
  color: black;
}

.--button-ternary:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.--button-pill {
  border-radius: 10000px;
}

.--button-ghost {
  background-color: transparent;
  color: variables.$primary-700;
}

.--button-ghost:hover {
  background-color: #d1b6ff55;
}

.--button-ghost:hover {
  background-color: #d1b6ff55;
}

.--button-icon {
  width: 32px;
  height: 32px;
  background-color: transparent;
  color: variables.$black;
  padding: 5px;
}
