@use '../../variables.scss';

.--accordian {
    //background-color: #793de110;
    border-radius: 8px;
}

.--accordian-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    //background-color: #793de12c;
    //color: variables.$primary-900;
    color: black;
    padding: 12px 16px;
    transition: background-color 0.218s;
    text-align: left;
    border-radius: 8px;
    //border: 1px solid #e1e1e1;
    //background-color: #f2f2f2;
    background-color: white;
}

.--accordian-button:hover {
    background-color: #f2f2f2;
}

.--accordian-content {
    padding: 12px 16px;
    //transition: all 0.21s ease;
    //color: variables.$primary-900;
    color: #101010;
    border-radius: 8px;
}

//.--accordian-content-true {
    //opacity: 1;
    ////transform: scaleY(1);
//}

//.--accordian-content-false {
    //opacity: 0;
    ////transform: scaleY(0.95);
    //max-height: 0;
//}

.--accordian-chevron {
    transition: transform 0.3s ease;
}

.--accordian-chevron-true {
    transform: rotate(180deg);
}

.--accordian-chevron-false {
    transform: rotate(0deg);
}

.ReactCollapse--collapse {
  transition: height 0.3s;
}
