$white: #fff !default;
$gray-100: #fbfbfb !default;
$gray-200: #efefef !default;
$gray-300: #d5d5d5f8 !default;
$gray-400: #808080 !default;
$black: #000 !default;

$primary: #793de1 !default;
$primary-600: #6a27de !default;
$primary-700: #541cb5 !default;
$primary-800: #401589 !default;
$primary-900: #2b0e5d !default;

$pink-400: #f472b6 !default;

$error: #e84a5f !default;

$rounded-sm: 4px;
$rounded-md: 6px;
$rounded-lg: 8px;
$rounded-full: 1000000px;

$padding-md-y: 8px;
$padding-md-x: 8px;

$font-size-h1: 48px;
$font-size-h2: 40px;
$font-size-h3: 32px;
$font-size-h4: 25px;
$font-size-h5: 20px;
$font-size-h6: 16px;

$border-light: #e8e8e8;
