$white: #fff !default;
$gray-100: #fbfbfa !default;
$gray-200: #979797 !default;
$gray-300: #c9c9c940 !default;
$gray-400: #808080 !default;
$black: #000 !default;

$primary-700: #793de1 !default;
$primary-800: #521cb0 !default;
$primary-900: #3a137c !default;

$pink-400: #f472b6 !default;

$rounded-sm: 4px;
$rounded-md: 6px;
$rounded-lg: 8px;
$rounded-full: 1000000px;

$padding-md-y: 8px;
$padding-md-x: 8px;

$font-size-h1: 48px;
$font-size-h2: 40px;
$font-size-h3: 32px;
$font-size-h4: 25px;
$font-size-h5: 20px;
$font-size-h6: 16px;
