@use '../../variables';

.--banner {
  height: 42px;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    variables.$primary-700,
    variables.$pink-400
  );
  position: absolute;
  top: 0px;
  color: variables.$white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
